<div ng-include src='"partials/sidebar.html"'></div>

<form class="form-horizontal" role="form" name="passwordForm" id="passwordForm" novalidate>

	<nav id="topbar" class="navbar navbar-fixed-top navbar-collapse">
		<div class="header-nav nav-no-collapse">
			<div class="utils">
				<div class="btn-toolbar top-menu">
					<div class="btn-group">
						<a href="" sidebar-toggle class="btn btn-menu"><i class="fa fa-bars fa-lg"></i></a>
						<a href="#/settings" class="btn btn-menu"><i class="fa fa-cogs fa-lg"></i></a>
					</div>
				</div>
			</div>
			<h1 class="tagline">{{profile.first_name}} {{profile.last_name}}: EDIT PASSWORD</h1>
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button type="button" class="btn white" type="button" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
				</div>
				<div class="btn-group">
					<button type="submit" class="btn turquoise" type="button" ng-click="submit()"><i class="fa fa-floppy-o"></i> Save</button>
				</div>
			</div>
		</div>
	</nav>

	<section id="main" ng-class="{'closed':boolChangeClass}" ng-swipe-right="slideRight()">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box bordered">
						<div class="box-header">
							Change Password
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="padded">
									<div class="form-group">
										<label for="currentPassword" class="col-xs-3 control-label" ng-class="{error: passwordForm.currentPassword.$invalid && passwordForm.submitted}">Current password</label>
										<div class="col-xs-6">
											<div class="input-group" ng-class="{true: 'error'}[passwordForm.submitted && passwordForm.currentPassword.$invalid]">
												<span class="input-group-addon"><i class="fa fa-key"></i></span>
												<input type="password" placeholder="Current password" class="form-control" name="currentPassword" id="currentPassword" ng-model="profile.currentPassword" ng-minlength="3" ng-maxlength="25" required auto-fillable-field tabindex="1" focus-me />
											</div>
											<div class="error" ng-show="passwordForm.currentPassword.$invalid && passwordForm.submitted">
												<small class="error" ng-show="passwordForm.submitted && passwordForm.currentPassword.$error.required">Password is required.</small>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="newPassword" class="col-xs-3 control-label" ng-class="{error: passwordForm.newPassword.$invalid && passwordForm.submitted}">New password</label>
										<div class="col-xs-6">
											<div class="input-group" ng-class="{true: 'error'}[passwordForm.submitted && passwordForm.newPassword.$invalid]">
												<span class="input-group-addon"><i class="fa fa-pencil"></i></span>
												<input type="password" placeholder="New password" class="form-control" name="newPassword" id="newPassword" ng-model="profile.newPassword" ng-minlength="3" ng-maxlength="25" equals="{{profile.verifyPassword}}" ng-required="equals='{{profile.verifyPassword}}'" tabindex="2" />
											</div>
											<div class="error" ng-show="passwordForm.newPassword.$invalid && passwordForm.submitted">
												<small class="error" ng-show="passwordForm.submitted && passwordForm.newPassword.$error.required">Password is required.</small>
												<small class="error" ng-show="passwordForm.submitted && passwordForm.newPassword.$error.minlength">Password must be at least 3 characters</small>
												<small class="error" ng-show="passwordForm.submitted && passwordForm.newPassword.$error.maxlength">Password cannot be longer than 25 characters</small>
												<small class="error" ng-show="passwordForm.submitted && passwordForm.newPassword.$error.equals">Password fields do not match.</small>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="verifyPassword" class="col-xs-3 control-label" ng-class="{error: passwordForm.verifyPassword.$invalid && passwordForm.submitted}">Verify password</label>
										<div class="col-xs-6">
											<div class="input-group" ng-class="{true: 'error'}[passwordForm.submitted && passwordForm.verifyPassword.$invalid]">
												<span class="input-group-addon"><i class="fa fa-check"></i></span>
												<input type="password" placeholder="Verify password" name="verifyPassword" id="verifyPassword" class="form-control" ng-minlength="3" ng-maxlength="25" ng-model="profile.verifyPassword" equals="{{profile.newPassword}}" ng-required="equals='{{profile.newPassword}}'" tabindex="3" />
											</div>
											<div class="error" ng-show="passwordForm.verifyPassword.$error.equals && passwordForm.submitted">
												<small class="error" ng-show="passwordForm.submitted && passwordForm.verifyPassword.$error.required">Required.</small>
												<small class="error" ng-show="passwordForm.verifyPassword.$error.equals">Password fields do not match.</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-include src='"partials/footer.html"'></div>
	</section>
</form>
<!-- spinner -->
<div id="spinner" ng-show="isLoading"></div>