<!-- usage section -->
<div ng-controller="UsageChartController">
	<div class="row">
		<div class="col-sm-12">
			<div class="box bordered">
				<div class="padded clearfix">
					<div class="col-lg-1 col-md-1 col-sm-1"></div>
					<div class="col-lg-10 col-md-10 col-sm-10">
						<div class="col-xs-3">
							<div class="stats clearfix">
								<div class="stat-name">Claimed</div>
								<div class="value claims">
									<a ng-show="thisOffer.stats.claims>0" href="" class="btn turquoise" ng-click="launchReport('claims')">{{thisOffer.stats.claims}}</a>
									<span ng-show="thisOffer.stats.claims==0">{{thisOffer.stats.claims}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="stats clearfix">
								<div class="stat-name">Activated</div>
								<div class="value activates">
									<a href="" ng-show="thisOffer.stats.loads>0" class="btn lt-green" ng-click="launchReport('activation')">{{thisOffer.stats.loads}}</a>
									<span ng-show="thisOffer.stats.loads==0">{{thisOffer.stats.loads}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="stats clearfix">
								<div class="stat-name">Used</div>
								<div class="value uses">
									<a href="" ng-show="thisOffer.stats.redeems>0" class="btn md-green" ng-click="launchReport('used')">{{thisOffer.stats.redeems}}</a>
									<span ng-show="thisOffer.stats.redeems==0">{{thisOffer.stats.redeems}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="stats clearfix">
								<div class="stat-name">Revenue</div>
								<div class="value revenue">{{thisOffer.stats.revenue | currency}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end usage section -->
	<!-- begin chart -->
	<div class="row partial">
		<div class="col-sm-12">
			<div class="box bordered">
				<div class="box-header clearfix">
					<div class="pull-left">Stats</div>
					<div class="pull-right">
						<div class="btn-group">
							<a class="dropdown-toggle btn white" data-toggle="dropdown">
								<i class="fa fa-download fa-lg"></i>
							</a>
							<ul class="dropdown-menu dropdown-left">
								<li><a ng-href="" id="toCSV" download="chart-{{thisOffer.chartStartDate}} to {{thisOffer.chartEndDate}}.csv"><i class="fa fa-download fa-lg"></i> Export to CSV</a></li>
								<li><a ng-href="" ng-click="saveImg()"><i class="fa fa-picture-o"></i> Export as a PNG</a></li>
							</ul>
						</div>
					</div>
					<div id="chartDates-container">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="daterange" timePicker="false" format="MM/DD/YYYY" ng-model="chartdates" id="chartdates" name="chartdates" min-date={{thisOffer.minDate}} max-date={{thisOffer.maxDate}} date-range class="form-control" ng-change="refreshChart()" />
						</div>
					</div>
					<ul class="stats-legend pull-right">
						<li class="claims"><span class="badge">&nbsp;</span> Claimed</li>
						<li class="activates"><span class="badge">&nbsp;</span> Activated</li>
						<li class="uses"><span class="badge">&nbsp;</span> Used</li>
					</ul>
				</div>
				<div id="chart-container">
					<div google-chart chart="chart" style="{{chart.cssStyle}}"/>
				</div>
			</div>
		</div>
	</div>
	<!-- end chart -->
</div>