<div class="form-group">
	<label for="buy_quantity" ng-class="{error: valueForm.buy_quantity.$invalid && offerform.submitted}" class="col-sm-3 control-label">Buy</label>
	<div class="col-md-4 col-sm-5">
		<div class="input-group">
			<span class="input-group-addon"><strong>&#35;</strong></span>
			<input type="text" placeholder="Number" class="form-control" id="buy_quantity" name="buy_quantity" ng-model="offer.buy_quantity" ng-pattern="/[0-9]+/" ng-disabled="running || completed" />
		</div>
		<div class="error" ng-show="valueForm.buy_quantity.$invalid && offerform.submitted">
			<small class="error" ng-show="offerform.submitted && valueForm.buy_quantity.$invalid">Buy must be a number.</small>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="buy_code" ng-class="{error: valueForm.buy_code.$invalid && offerform.submitted}" class="col-sm-3 control-label">Product or family</label>
	<div class="col-md-4 col-sm-5">
		<div class="input-group" ng-class="{error: offerform.submitted && valueForm.buy_code.$invalid}">
			<span class="input-group-addon"><i class="fa fa-barcode"></i></span>
			<input type="text" placeholder="UPC or Product Family code" class="form-control" minLength="3" maxLength="13" ng-minlength="3" char-limit="13" id="buy_code" name="buy_code" ng-model="offer.buy_code" required ng-pattern="/[0-9]+/" ng-disabled="running || completed" />
		</div>
		<div class="error" ng-show="valueForm.buy_code.$invalid && offerform.submitted">
			<small class="error" ng-show="offerform.submitted && valueForm.buy_code.$error.required">Product or family is required and must be a number between 3 and 13 characters.</small>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="get_quantity" ng-class="{error: valueForm.get_quantity.$invalid && offerform.submitted, prevError: valueForm.get_quantity.$invalid && previewError}" class="col-sm-3 control-label">Get</label>
	<div class="col-md-4 col-sm-5">
		<div class="input-group" ng-class="{error: offerform.submitted && valueForm.get_quantity.$invalid, prevError: offerform.submitted && previewError}">
			<span class="input-group-addon"><strong>&#35;</strong></span>
			<input type="number" placeholder="Number" class="form-control" id="get_quantity" name="get_quantity" ng-model="offer.get_quantity" required ng-disabled="running || completed" />
		</div>
		<div class="error" ng-show="valueForm.get_quantity.$invalid && offerform.submitted">
			<small class="error" ng-show="offerform.submitted && valueForm.get_quantity.$error.required">Get is required and must be a number.</small>
		</div>
		<div class="error" ng-show="valueForm.get_quantity.$invalid">
			<small class="error" ng-show="valueForm.get_quantity.$error.preview" ng-hide="valueForm.get_quantity.$error.required">Get is required to preview the offer.</small>
		</div>
	</div>
</div>